/*------------------------------------*\
    BODY
\*------------------------------------*/
/**
 * body
 */


body {
  color: $font-color;
  font-family: $font-primary;
  font-size: 100%;
  line-height: 1.5;
}
