/*------------------------------------*\
    FONTS
\*------------------------------------*/
/**
 * DIN-Light
 * DIN-Regular
 * DIN-Medium
 * DIN-Bold
 * icomoon
 */


@font-face {
  font-family: 'DIN-Light';
  src: url('../fonts/DIN-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DIN-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DIN-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/DIN-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DIN-Light.svg#2027e760254904bf0a383b6efd34e0f4') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'DIN-Regular';
  src: url('../fonts/DIN-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DIN-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DIN-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/DIN-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DIN-Regular.svg#7ce5c290cbf96055cac52fb25e35bed6') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DIN-Medium';
  src: url('../fonts/DIN-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DIN-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DIN-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/DIN-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DIN-Medium.svg#d810fd0de5f94c19f1c61300cb3051eb') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DIN-Bold';
  src: url('../fonts/DIN-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DIN-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DIN-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/DIN-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DIN-Bold.svg#141abd1e4da862069abc8898071740b0') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
