/*------------------------------------*\
    FORM
\*------------------------------------*/
/**
 * .form--search
 */


form {
  label {
    color: #666;
    font-family: "";
  }

  input {
    height: 35px;
    position: relative;
  }
}
