/*------------------------------------*\
    LINK
\*------------------------------------*/
/**
 * a
 */


a {
  font-family: "DIN-Light";
  font-weight: 200;
  color: $link-color-normal;
  text-decoration: none;

  &:hover, &:focus {
    color: $link-color-hover;
  }
}
