/*------------------------------------*\
    LINK
\*------------------------------------*/
/**
 * a
 */


a {
  // font-family: "";
  color: $link-color-normal;
  text-decoration: none;

  &:hover, &:focus {
    color: $link-color-hover;
  }
}
