<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #ff0000;"></span>
        <span class="sg-label">#f20544</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #cc0544;"></span>
        <span class="sg-label">#cc0544</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #b30544;"></span>
        <span class="sg-label">#b30544</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #f20544;"></span>
        <span class="sg-label">#f20544</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ff3333;"></span>
        <span class="sg-label">#ff3333</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #f5f5f5;"></span>
        <span class="sg-label">#f5f5f5</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ff9999;"></span>
        <span class="sg-label">#ff9999</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ffffff;"></span>
        <span class="sg-label">#ffffff</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #666666;"></span>
        <span class="sg-label">#666666</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #dddddd;"></span>
        <span class="sg-label">#dddddd</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #999999;"></span>
        <span class="sg-label">#999999</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #333333;"></span>
        <span class="sg-label">#333333</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #222222;"></span>
        <span class="sg-label">#222222</span>
    </li>
</ul>
