<p style="font-family: 'Din Light'; font-weight: 200;">
    "Din Light", Arial, sans-serif;
</p>
<p style="font-family: 'Din Regular'; font-weight: 400;">
    "Din Regular", Arial, sans-serif;
</p>
<p style="font-family: 'Din Medium'; font-weight: 400;">
    "Din Medium", Arial, sans-serif;
</p>
<p style="font-family: 'Din Bold'; font-weight: 700;">
    "Din Bold", Arial, sans-serif;
</p>
