<p style="font-family: '';">
    "Din Light", Arial, sans-serif;
</p>
<p style="font-family: '';">
    "Din Regular", Arial, sans-serif;
</p>
<p style="font-family: '';">
    "Din Medium", Arial, sans-serif;
</p>
<p style="font-family: '';">
    "Din Bold", Arial, sans-serif;
</p>
