<figure>
    <img src="../../figure.jpg" alt="Macaque in the trees">
    <figcaption>A cheeky macaque, Lower Kintaganban River, Borneo. Original by <a href="http://www.flickr.com/photos/rclark/">Richard Clark</a></figcaption>
</figure>
