<video width="640" height="360" controls="">
    <source src="#" type="video/mp4">
    <source src="#" type="video/webm">
    <source src="#" type="video/ogg">
    <img src="" width="640" height="360" alt="Big Buck Bunny" title="No video playback capabilities, please download">
</video>
