/*------------------------------------*\
    BUTTONS
\*------------------------------------*/
/**
 * .Btn
 * .Btn-Disabled
 * .Btn-Small
 * .Btn-Large
 */


.Btn {
  display: inline-block;
  padding: $default-pad-half;
  background-color: #fff;
  border: 0;
  color: $font-color;
  cursor: pointer;
  line-height: 1;
  text-align: center;
}

.Btn-Disabled {
  background-color: #f9f9f9;
  color: #ddd;
}

.Btn-Small {
  font-size: $font-size-slightly-smaller;
}

.Btn-Large {
  padding: $default-pad-half;
  font-size: $font-size-slightly-larger;
}

