/*------------------------------------*\
    BUTTONS
\*------------------------------------*/
/**
 * .btn
 * .btn--disabled
 * .btn--small
 * .btn--large
 */


.btn {
  display: inline-block;
  padding: $default-pad-half;
  background-color: #fff;
  border: 0;
  color: $font-color;
  cursor: pointer;
  line-height: 1;
  text-align: center;
}

.btn--disabled {
  background-color: #f9f9f9;
  color: #ddd;
}

.btn--small {
  font-size: $font-size-slightly-smaller;
}

.btn-large {
  padding: $default-pad-half;
  font-size: $font-size-slightly-larger;
}

.btn--submit {
  background-color: #ff2b63;
  border-radius: 5px;
  color: #fff;
  font-family: "DIN-Bold";
  @include font-size-in-em( 18px );

  &:hover, &:focus {
    background-color: #666;
    color: #fff;
  }
}

.btn--social {
  padding: $default-pad-half;
  background-color: #ddd;
  color: #999;
  @include skewX( -15deg );

  &:hover, &:focus {
    background-color: #fff;
  }

  i {
    display: inline-block;
    @include skewX( 15deg );
  }
}

.btn--category {
  height: 50px;
  position: relative;
  padding: 0;
  padding-left: 50px;
  background-color: transparent;
  color: #fff;
  line-height: 50px;
  @include font-size-in-em( 22px );

  &::after {
    height: 25px;
    left: 10px;
    position: absolute;
    top: 13px;
    width: 25px;
    border: 1px #fff solid;
    content: '☰';
    font-size: 1em;
    line-height: 1;
    text-indent: 0;
  }
}
