/*------------------------------------*\
    CAPTIONS
\*------------------------------------*/


.caption {
  display: block;
  padding: $default-pad-double;
  background-color: #333;
  color: #fff;
  font-family: "DIN-Medium";
  font-weight: 400;
}
