/*------------------------------------*\
    CAPTIONS
\*------------------------------------*/
/**
 * .Caption
 */


.Caption {
  display: block;
  padding: $default-pad-double;
  background-color: #333;
  color: #fff;
  // font-family: "";
}
