.sg-main {
  margin: 0 auto;
  width: 95%;
}

.sg-colors {
  li {
    display: inline-block;
    margin-bottom: 10px;
    padding: 1% 0;
    width: 100px;
    border: 1px solid;
    text-align: center;
  }

  .sg-swatch {
    display: block;
    margin: 0 auto;
    padding-bottom: 20%;
    width: 80%;
  }
}
