<form action="#" method="post" class="form--search">
    <div class="field-row">
        <label for="field-search">SEARCH</label>
        <input type="search" id="field-search" />
        <button class="btn btn--submit">SEARCH</button>
    </div>
</form>
