<form action="#" method="post" class="form--subscribe">
    <div class="field-row">
        <label for="field-email"><i class="icon-mail"></i>SUBSCRIBE TO B4T</label>
        <input type="email" id="field-email" placeholder="Sign up with your email address" />
        <button class="btn btn--submit">SIGN UP</button>
    </div>
</form>
