<nav class="nav--primary">
    <label class="btn btn--category" for="open-menu">
        TOPICS
    </label>
    <input type="checkbox" id="open-menu" name="open-menu" />
    <ul class="nav--primary__list">
        <li>
            <a href="#">aaa</a>
        </li>
        <li>
            <a href="#">bbb</a>
        </li>
        <li>
            <a href="#">ccc</a>
        </li>
        <li>
            <a href="#">ddd</a>
        </li>
        <li>
            <a href="#">eee</a>
        </li>
        <li>
            <a href="#">fff</a>
        </li>
    </ul> <!-- eo .nav--primary__list -->
</nav> <!-- eo .nav--primary -->
