<ul class="nav--social">
    <li>
        <a href="#" class="btn btn--social">
            <i class="icon-linkedin"></i>
        </a>
    </li>
    <li>
        <a href="#" class="btn btn--social">
            <i class="icon-twitter"></i>
        </a>
    </li>
    <li>
        <a href="#" class="btn btn--social">
            <i class="icon-googleplus"></i>
        </a>
    </li>
    <li>
        <a href="#" class="btn btn--social">
            <i class="icon-facebook"></i>
        </a>
    </li>
</ul> <!-- eo .nav--social -->
